---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<div class="wordwrap">(conference presentations associated with a paper are omitted)</div>

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<!-- New style rendering if talk categories are defined -->
{% if site.talk_category %}
  {% for post in site.talks reversed %}
    {% if post.category == "conferences" %}
      {% continue %}
    {% endif %}
    {% include archive-single-talk.html %}
  {% endfor %}
{% else %}
  {% for post in site.talks reversed %}
    {% include archive-single-talk.html %}
  {% endfor %}
{% endif %}
